{% extends "manager/manger_base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head_body %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashbord</title>
  <link rel="stylesheet" href="{% static 'manager/css/doctor-edit.css'%}">
  <link rel="stylesheet" href="{% static 'manager/css/all.min.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  
  {% endblock head_body %}

  {% block content %}
  <div class="content">
    <div class="sebtn">

      <div class="dashbtn">
        <a href="#">
          <button>home</button>
        </a>
      </div>
    </div>


    <!-- start doctors -->

    <form  method="post" class="inform" >
      <fieldset>
        {% csrf_token %}
        <div class="input-specification">
          <label for="">Add specification</label>
            {{form.name}}
        </div>
        <div class="specifacation-button">
          <button class="btn">Add</button>
        </div>
      </fieldset>
    </form>

<div class="errorsss">
     <li>{{form.errors}}</li>
      <div>

    
  </div>
</body>
{% endblock content %}
</html>