{% extends "manager/manger_base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head_body %}


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashbord</title>
  <link rel="stylesheet" href="{% static 'manager/css/view_data_patient.css'%}">
  <link rel="stylesheet" href="{% static 'manager/css/all.min.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body>

  {% endblock head_body %}

  {% block content %}
  <div class="content">
    <div class="sebtn">
      <div class="search">
        <i class="fa-solid fa-magnifying-glass "></i>
        <input class="search-bar" placeholder="Search by Specialization" type="text">
      </div>
      <div class="dashbtn">
        <a href="dashbord.html">
          <button>home</button>
        </a>
      </div>
    </div>
    <div class="table">
      <p>Specialization Details</p>
      <table>
        <tr>
          <th>Specialization</th>
          <th>Available Doctors</th>
          <th>Action </th>
        </tr>
        {%for spec,num in list_spec_num%}
        <tr>
          <td>{{spec}}</td>
          <td>{{num}}</td>
          <td><a href="edit_Specialization/{{ spec.id }}"><i class="fa-solid fa-eye" ></i><a href="deleteSpecialization/{{ spec.id }}"><i class="fa-solid fa-trash"></i></td>
        </tr>
      {%endfor%}
      </table>
    </div>

  </div>
  <script src="{% static '/js/patient.js' %}"></script>
</body>

{% endblock content %}
</html>