{% extends "base_dr.html" %}{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head_body %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashbord</title>
  <link rel="stylesheet" href="{% static 'doctor/css/patient.css' %}">
  
  <link rel="stylesheet" href="{% static 'doctor/css/all.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<!--header page-->
  <div class="header_dash">
    <div class="loh">
      <i class="fa-solid fa-stethoscope"><span class="clog"><span>m</span>edical <span>c</span>are</span></i>
    </div>
    <div class="right_area">
      <a href="{% url 'logout' %}" class="logout_btn">Logout</a>
    </div>
  </div>
<!--end header-->


{% endblock head_body %}}
 {% block content %}
<!--  the content of the page-->
  <div class="content">
    <div class="sebtn">
      <div class="search">
        <i class="fa-solid fa-magnifying-glass "></i>
        <input class="search-bar" placeholder="Search by Patient Name" type="text">
      </div>
      <div class="dashbtn">
        <a href="dashbord.html">
          <button>home</button>
        </a>
      </div>
    </div>
    
    <form action="">
      <h2>Write description here</h2>
      <textarea name="description" id=""></textarea>
      <button>submit</button>
    </form>

    <div class="table">
      <table>
        <tr>
          <th>Patient Name</th>
          <th>Patient Contact Number</th>
          <th>Patient Gender</th>
          <th>Creation Date</th>
          <th>Current Status</th>
          <th>Description of patient</th>
          <th>Action</th>
        </tr>
        {%for Appointment in Data_Appointment %}
        <tr>
          <td>{{Appointment.name}}</td>
          <td>{{Appointment.phone_number}}</td>
          <td>{{Appointment.doctor.gender}}</td>
          <td>{{Appointment.data_time}}</td>
          <!-- Status -->
          {% if Appointment.descrption == "None"  %}
          <td class="activate">Waiting</td>
          {% else %}
          <td class="activate">Done</td>
          {% endif %}
          
          <td><a href="descrption_write/{{ Appointment.id }}"><i class="fa-solid fa-edit" ></i></td>
            <!-- <div class="form">
              <h2>Description</h2>
              <p>{{Appointment.descrption}}</p>
              <button id = "Cancel">Cancel</button>
            </div> -->
       
            <td><a href="delete/{{ Appointment.id }}"><i class="fa-solid fa-trash"></i></td>
          <!-- <td><i class="fa-solid fa-edit" onclick="clik()"></i></td>
          <td>
            <i class="fa-solid fa-trash"></i>
          </td> -->
        </tr>
        {% endfor %}

      </table>
    </div>
  </div>
  <script>
    function clik() {
      let form = document.querySelector("form");
      form.style.display = "block";
    }
  </script>
  <script src="{% static '/js/patient.js' %}"></script>

</body>
{% endblock content %}
</html>