{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head_body %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashbord</title>
  <link rel="stylesheet" href="{% static 'patient/css/style-app.css' %}">
  <link rel="stylesheet" href="{% static 'patient/css/all.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  {% endblock head_body %} {% block content %}
  {% if check %}
  <script>alert("This Date is Past ");</script>
  {% endif %}
  <div class="content">



      <div class="apointment" id="add_apointment">
        <div class="form">
          <div id="container">
            <!-- This is a division tag for body container -->
            <div id="body_header">
              <!--This is a division tag for body header-->
              <h1>Descrption</h1>
            </div>

            <label>Descrption : </label>
            <div style="text-indent: 30px;  text-transform: uppercase; margin-top: 1em;
                margin-bottom: 1em;
                margin-left: 0;
                margin-right: 0;">
              <p>{{descrption_Paragrah}}
              </p>
            </div>

            <div class="btn">
              <a href="/Patient/AppointHistory"><button type="submit">Previous</button></a>
            </div>

          </div>
        </div>
      </div>

</body>
{% endblock content %}

</html>