{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block head_body %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashbord</title>
    <link rel="stylesheet" href="{% static 'patient/css/style.css' %}" />
    <link 
      rel="stylesheet"
      href="{% static 'patient/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
  
    {% endblock head_body %}
     {% block content %}

    <!-- Start content -->
    <div class="content">

     <div class="card"> 
      
      <div class="carddoctor">
        <a href="{% url 'Profile' %}" class="myprofile-link"
          ><div class="myprofile">
            <img src="{{patient.profile_img.url}}" />
            <p>my profile</p>
            <p>Update photo</p>
          </div>
        </a>

        <a href="{% url 'AppointHistory' %}" class="myprofile-link">
          <div class="myprofile">
            <img
              class="myprofile-image"
              src="{% static 'images/wheelchair-service-4.png' %}"
              alt=""
            />
            <p>my appointment</p>
            <p>view appointment history</p>
          </div>
        </a>

        <a href="{% url 'BookAppointment_1' %}" class="myprofile-link">
          <div class="myprofile">
            <img
              class="myprofile-image"
              src="{% static 'images/wheelchair-service-4.png' %}"
              alt=""
            />
            <p>book my appointment</p>
            <p>book appointment</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End content -->
  </body>
  {% endblock content %}
</html>
